{% extends 'user_templates/base.html' %}
{% load static %}
<script type="text/javascript" src="{% static 'js/product-filter.js' %}"></script>
{% block content %}

<div class="container">
    <div class="row move-right">
      <div class="col-md-3">
        <h3>Filters</h3>
        <div class="list-group">
          <h5>Category</h5>
    {% for cat in cats%}
    <li class="list-group-item">
        <input class="filter_checkbox" data-filter="category" value="{{cat.category__id}}" type="checkbox" /> &nbsp;
        {{cat.category__name}}
    </li>
    
    {%endfor%}
          
        </div>
        <div class="list-group">
          <h5>Brand</h5>
          {% for brand in brands%}
          <li class="list-group-item">
              <input class="filter_checkbox" data-filter="brand" value="{{brands.brand__id}}" type="checkbox" /> &nbsp;
              {{brand.brand__name}}
          </li>
          
          {%endfor%}
        </div>
        <div class="list-group">
          <h5>Color</h5>
          {% for color in colors%}
          <li class="list-group-item">
              <input class="filter_checkbox" data-filter="color" value="{{color.color__id}}" type="checkbox" /> &nbsp;
              <button class="btn" style="background-color:{{color.color__color_code}}"></button>
              
          </li>
          
          {%endfor%}
        </div> 
        <div class="list-group">
          <h5>Price Range</h5>
          <a href="#" class="list-group-item">Below $50</a>
          <a href="#" class="list-group-item">$50 - $100</a>
          <a href="#" class="list-group-item">$100 - $200</a>
          <a href="#" class="list-group-item">$200 and above</a>
        </div>
        <div class="list-group">
          <h5>Rating</h5>
          <a href="#" class="list-group-item">4 stars & above</a>
          <a href="#" class="list-group-item">3 stars & above</a>
          <a href="#" class="list-group-item">2 stars & above</a>
          <a href="#" class="list-group-item">1 star & above</a>
        </div>
        <!-- Add more filter fields here -->
      </div>
      <div class="col-md-9">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="row">
            {% for product in products %}
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
              <div class="single-popular-items mb-50 text-center">
                <div class="popular-img product-item">
                  <img src="{{product.product_image.url}}" alt="" class=" product-item">
                  <div class="img-cap">
                    <span>Add to cart</span>
                  </div>
                  <div class="favorit-items">
                    <span class="flaticon-heart"></span>
                  </div>
                </div>
                <div class="popular-caption">
                  <h3><a href="{% url 'product_details' id=product.id  %}">{{product.name}}</a></h3>
                  <span>{{product.original_price}}</span>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock  %}
